/* SELECTOR UNIVERSAL*/

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body, p, h1, h2, h3, li, .btn{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

h1{
    font-size: 30px;
    margin: 25px 0 15px 0;
    color: #144E75;
    font-weight: bolder;
    padding-left: 10px; 
}

h2{
    font-size: 22px;
    color:#1C6EA4;
}

h3{
    font-size: 30px;
    margin: 25px 0 15px 0;
    color: #144E75;
    font-weight: bolder;
    padding-left: 10px; 
}

h4{
    color:aliceblue
}

a{
    color: #848775;
    text-decoration: none;
}

a:hover{
    color: rgb(182, 182, 170);
    text-decoration: none;
}

/* MAIN NAV*/

header{
    border-top: 5px solid #fdd306;
    border-bottom: 1px solid #b0b0b0;
    width: 100%;
}

nav{
    height: 80px;
    max-width: 940px;
    margin: auto;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

.logo{
        height: 40px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #333;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover{
    color: rgb(224, 224, 224);
    background: #1C6EA4;
    transition: .5s;
}

.checkbtn{
        font-size: 30px;
        color: #144E75;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
}

#check{
    display: none;
}
    section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

/* MAIN CONTAINER */


.container{
    max-width: 840px;
    height: auto;
    margin: auto;
}

/* GRID CONTAINER HOME */

.grid-container {
    display: grid;                           /*Convierte el contenedor en una grilla */
    /* display: inline-grid; */
    grid-template-columns: auto auto auto ;   /*Forma en que se distribuyen los elementos*/
    gap: 10px;                               /*Espacios entre los hijos*/
    padding: 10px;                           /*Coloco un espacio alrededor del conjunto de hijos*/      /*El borde no se ve */
    margin-bottom: 25px;;
}

.grid-item {
    padding:10px;
}

/* ELEMENTOS */

.btn, .VerMas {
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    line-height: 16px; 
    padding: 10px; 
    border-radius: 9px; 
    text-decoration: none; 
    text-align: center;
    text-transform: none; 
    background-color:#1C6EA4; 
    display: block;}
    .VerMas:hover {
    background: #144E75; }
    .VerMas:active {
    background: #144E75; }

/* FOOTER*/

footer{
    background-color: #333;
}

.grid-footer {
    display: grid;                           /*Convierte el contenedor en una grilla */
    /* display: inline-grid; */
    grid-template-columns: auto auto auto ;   /*Forma en que se distribuyen los elementos*/
    gap: 10px;                               /*Espacios entre los hijos*/
    padding: 10px;                           /*Coloco un espacio alrededor del conjunto de hijos*/
    max-width: 840px;
    margin: auto;
}

.grid-item-footer{
    padding:10px;
}


/* HTML CONTACTO*/
.bigicon {
    font-size: 35px;
    color: #36A0FF;
}


/* ------ BREAKING POINT TABLET*/

@media (max-width: 952px){

    /* MAIN NAV*/
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
       font-size: 16px;
    }
}

/* ------ BREAKING POINT SMARTPHONE*/

@media (max-width: 858px){

    /* MAIN NAV*/
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #144E75;;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color: rgb(138, 138, 138);
    }
    li a:hover, li a.active{
        background: none;
        color: #fff;
    }
    #check:checked ~ ul{
        left:0;
    }

    /* CONTAINER HOME */
    .grid-container {
        grid-template-columns: auto;   /*Forma en que se distribuyen los elementos*/
    }

    /* CONTAINER FOOTER*/
    .grid-footer {
        grid-template-columns: auto;   /*Forma en que se distribuyen los elementos*/
    }
}